*.ogg
*.aac

node_modules

*.config.js.timestamp-*.mjs

/games
/libs

/thing-editor/src/editor/localization-typings.d.ts
/thing-editor/src/editor/schema-thing-project.json
/thing-editor/src/editor/current-classes-typings.d.ts
/**/~*
**/.tmp/
/thing-editor/src/editor/prefabs-typing.ts
/thing-editor/src/editor/current-scene-typings.d.ts
/tsconfig.json
/thing-editor.code-workspace
/thing-editor/electron-main/.bin