:root {
    --window-bg-color: #cccfda;
	--bg-color: #8c8f9a;
	--window-header-color:#567;
}

.hidden{
	display:none;
}

label {
    cursor: pointer;
}

body,html{
	font-family: sans-serif;
	width:100%;
	height:100%;
	color:#595550;
	line-height:normal;
	background: var(--bg-color);
	user-select: none;
}

hr{
	border:0;
	border-bottom:1px solid #aaa;
}

h1{
	font-size:220%;
	font-weight:bold;
}
h2{
	font-size:180%;
	font-weight:bold;
}
h3{
	font-size:150%;
	font-weight:bold;
}
h4{
	font-size:120%;
	font-weight:bold;
}

h5{
	font-weight:bold;
}

b{
	font-weight:bold;
}

input {
	user-select:all;
}

textarea:focus, input:focus{
    outline: 0;
}

img {
	vertical-align: middle;
}

.checkbox{
	cursor:pointer;
}

.unclickable{
	vertical-align:middle;
	pointer-events:none;
	opacity: 0.3;
}

.small-text{
	font-size:76%;
}

button {
	background:#e6e7e9;
	border:0;
	border-radius:6px;
	margin:5px;
	padding: 4px 12px;
	outline: none;
}

.disabled {
	opacity:0.5;
	pointer-events:none;
}

.clickable {
	cursor:pointer;
}

.clickable:hover{
	background:#eee;
}

.clickable:active{
	box-shadow: inset 0 0 2px 2px rgb(85, 102, 119);
}

.clickable-neg:hover{
	color:#aab4bd !important;
	background:#435362 !important;
}

.window-body {
	box-shadow: .5px 3px 0 1px rgba(0,0,30,0.08);
	position:fixed;
	box-sizing: content-box;
	background: var(--window-bg-color);
	border: 1px solid var(--window-header-color);
	border-radius: 4px;
}

.window-header {
	width:100%;
	height:17px;
	background:var(--window-header-color);
	color:#9ab;
	cursor:move;
	font-size: 70%;
	padding: 2px;
	box-sizing: border-box;
	position:relative;
}

.window-content {
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:17px;
	padding: 2px;
}

.main-btn {
	font-size:120%;
	padding:10px 40px;
	background:#080;
	color:#fff;
	margin: 5px 20px;
}

.danger-btn {
	background:#880000;
	color:#fff;
}

.danger-btn:hover {
	background:#c50000;
}

.main-btn:hover {
	background:#0cb70c;
}

.window-rb-corner {
	position:absolute;
	right:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lt-corner {
	position:absolute;
	left:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lb-corner {
	position:absolute;
	left:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}
.window-rt-corner {
	position:absolute;
	right:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}

::-webkit-scrollbar {
    width: 6px;
    height: 15px;
}
::-webkit-scrollbar-track {
    background: #cccfda; 
}
::-webkit-scrollbar-thumb {
    background: #acb5be; 
}
::-webkit-scrollbar-thumb:hover {
    background: #9ea9b4; 
}

.window-r-dragger{
	position:absolute;
	right:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-l-dragger{
	position:absolute;
	left:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-b-dragger{
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-t-dragger{
	position:absolute;
	top:-4px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-dragger {
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	cursor: move;
}

.editor-viewport {
	display: flex;
	align-items:center;
	justify-content:center;
	background: #b9bdc8;
	width:100%;
	height: 100%;
}

.editor-viewport-panel{text-align: center;width: 80px;}

.editor-viewport-wrapper{
	display: flex;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

.editor-viewport canvas {
	max-height: 100%;
	max-width: 100%;
}

.big-btn{
	padding: 0;
	width:50px;
	height:50px;
}

.scene-tree-view-wrap {
	width: calc(100% - 37px);
	height:100%;
	background:#fff;
	font-size: 80%;
}

.scene-tree-view {
	overflow-y:auto;
	overflow-x: hidden;
	height: calc(100% - 21px);
}

.tree-view-search {
    border-bottom: 1px solid #cccfda;
}

.list-item {
	white-space: nowrap;
	border-top:1px solid #eee;
	padding:2px;
	cursor:pointer;
}

.list-item:hover{
	background:#e8e8e8;
}

.list-item img {
	margin-right: 4px;
}

.item-selected {
	 cursor:default;
	 background: #95ccff;
}

.item-selected:hover {
	background: #b0d9ff;
}

.tree-caret {
	line-height: 0.50;
	float: right;
	position: relative;
	z-index: 3;
	margin-left: -2000px;
	font-size: 290%;
	color: #6c6b6a;
	pointer-events:none;
}

.tree-childs {
	padding-left: 10px;
}

.scene-node-name {
	font-weight:bold;
}

.scene-node-class {
	color:#aaa;
}

.props-editor {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

.props-group{
	margin: 3px;
	border-radius:6px;
	overflow:hidden;
}

.props-group-header {
	padding: 3px 15px;
	background-color:var(--window-header-color);
	color: #a3adb7;
	font-size:70%;
}

.props-group-body {
	font-family: monospace;
	background:#fff;
}

.props-field {
	border-bottom: 1px solid #c6c6c6;
	display: flex;
}

.props-field-important {
	background: #cfffd4;
	color:#0e5a00;
}

.props-field-important input{
	font-weight:bold;
}

.props-label {
	box-sizing:border-box;
	padding-left: 15px;
	width: 50%;
	max-width: 250px;
	color: #3a8cff;
	overflow-x: hidden;
	font-size: 120%;
}

.props-wrapper {
	display:inline-block;
	flex-grow: 1;
	box-sizing:border-box;
	border-left: 1px solid #cfcfcf;
}

.field-editor-wrapper{
	display:flex;
}


input{
	font-family: monospace;
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	border:none;
}

.select-editor {
	white-space:nowrap;
}

.select-editor-current {
	padding-left: 10px;
}

.select-editor-list{
	position: absolute;
	z-index:2;
	margin-top: -26px;
	background: #fffde4;
	padding:10px;
	border: 1px solid #9e8247;
}

.modal-blackout {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1000;
	background: rgba(0,16,62,0.5);
}

.modal-title {
	background:#345;
	padding: 10px 20px;
	color:#89a;
	font-weight:bold;
}

.modal-title img {
	max-height:20px;
	margin-right: 10px;
}

.modal-body {
	margin:auto;
	margin-top:100px;
	cursor:initial;
	width: min-content;
	min-width: 500px;
	user-select:text;
}

.modal-content {
	text-align: center;
	padding:20px;
	background:#fff;
}

.project-item-select {
	padding: 10px;
	margin: 5px;
	border: 1px solid #bfc6cc;
	border-radius:10px;
	color: #476582;
	font-size: 150%;
}

.project-item-select img {
	max-height: 30px;
	margin: 0 20px;
}

.list-view {
	bottom: 3px;
	top: 35px;
	left: 3px;
	right: 3px;
	position: absolute;
	overflow-y: auto;
	background:#fff;
}

.error {
	color: #be0000;
	user-select: text;
}

.error-body {
	color: #444;
	font-family:monospace;
	padding: 10px;
	border:1px solid #444;
	margin: 15px;
}

#window-scenesList .list-item {
	padding:10px;
	border:0;
	margin-bottom:1px;
}

#window-scenesList .item-selected {
	border-left: 7px solid #080;
	cursor: default;
}

#window-scenesList img {
	margin-right: 15px;
}

#window-prefabsList .list-item {
	padding:7px;
}

.modal-content input {
	font-size:130%;
	width: 50%;
	padding:5px;
	border:1px solid #888;
	margin-bottom: 20px;
}

.modal-reject-text {
	color:#a00;
	min-height: 20px;
	margin: 14px;
}

.list-view .props-group-header {
	font-size: 90%;
}

.list-view .props-group{
	border:1px solid #567;
}

.selectable-text {
	user-select:text;
	cursor:text;
}

.vertical-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.left-panel {
    width: 40px;
}

.props-header {
    padding: 0 5px;
}

.choosing-item {
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.left-align-text {
	text-align: left;
}

.resizable-dialog {
    position: relative;
    overflow: auto;
    pointer-events:all;
    resize:both;
    min-height:300px;
    min-width:500px;
    
}

.mid-text-align {
    vertical-align: middle;
}

.tool-btn {
	padding: 0;
	background:none;
}

#window-sceneTree button:hover {
	background:#dd8;
}

.editor-viewport-wrapper-prefab-mode {
	background:#fff2c2;
}

.stacked-scene-item {
    margin: 3px;
    padding: 3px;
    background: #ddd;
    font-size: 75%;
}

.editor-viewport-panel .main-btn{
	margin: 10px;
	padding: 14px;
}

.prefabs-mode-title {
	margin: 20px 0;
	font-size:80%;
}

.close-window-btn {
    position: absolute;
    padding: 0 3px;
    right: -4px;
    top: -21px;
    font-weight: bold;
    background: #de3535;
    color: #de3535;
}

.timeline {
    cursor: pointer;
    padding-top: 30px;
    padding-left: 110px;
    overflow-x: auto;
    background: #bbbbbb;
    top: 10px;
    bottom: 36px;
}

.objects-timeline {
    position: relative;
}

.objects-timeline-labels {
    cursor: default;
    width: 110px;
    height: 40px;
    text-align: right;
    position: absolute;
    padding-right: 6px;
    font-weight: bold;
    box-sizing: border-box;
    backface-visibility: hidden;
    margin-left: -110px;
    background: #cccfda;
    z-index: 6;
}

.field-timeline {
    width: max-content;
    background: url(/thing-editor/img/timeline.png);
    height: 40px;
    background-repeat-y: no-repeat;
}

.timeline-play-indicator {
	pointer-events: none;
	position: absolute;
	height: 30px;
	border-left:1px solid #f00;
}

.timeline-fire-indicator {
	pointer-events: none;
	animation: fireAnimation linear 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	position: absolute;
	height: 24px;
	width: 8px;
	border:1px solid #f00;
}

.timeline-keyframe {
	cursor: w-resize;
    position: absolute;
    width: 8px;
    height: 24px;
}

.timeline-keyframe-selected {
    outline: 2px solid #ff9d00;
}

.timeline-keyframe-nextofselected {
    border-bottom: 2px solid #ff9d00;
}

.timeline-keyframe-linear {
	background: #8db2ff;
	border-left: 1px solid #456aa1;
}

.timeline-keyframe-discrete {
	background: #c1c1c1;
	border-left: 1px solid #505050;
}

.timeline-keyframe-smooth {
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	background: #33ffa2;
	border-left: 1px solid #516b00;
}

.timeline-keyframe-jump-floor {
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background: #e2c200;
	border-left: 1px solid #ad7000;
}

.timeline-keyframe-jump-roof {
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background: #e2c200;
	border-left: 1px solid #ad7000;
}




.loop-arrow {
    pointer-events: none;
    position: absolute;
    right: 100%;
    bottom: -13px;
    fill:none;
    stroke: rgb(0, 136, 0);
    stroke-width: 1.5;
}

.timeline-chart {
    position: absolute;
    fill:none;
    stroke: #544d00;
    stroke-width: 1.5;
    pointer-events: none;
}

.time-marker-body {
	position: relative;
	margin-top: -33px;
	width: 100%;
	z-index: 1;
	background: #bbbbbb;
}

.time-marker {
	cursor: w-resize;
	width: 8px;
	height: 23px;
	position: absolute;
	top: 0;
	background: #d33;
}

.timeline-left-top-panel {
	cursor: default;
	position: fixed;
	width: 110px;
	background: #cccfda;
	height: 40px;
	margin-left: -110px;
	margin-top: -40px;
}

.time-marker-v-line {
	position:absolute;
	pointer-events:none;
	height: 1000px;
	margin-bottom: -1000px;
	border-left:1px solid #d33;
}

.time-marker-label {
	width: 230px;
	margin: 2px 12px;
	color:#213950;
	pointer-events: none;
}

.bottom-panel {
    padding: 8px;
    position: fixed;
    z-index: 8;
    background: #cccfda;
    border-top: 1px solid #567;
}

.keyframe-type-chooser {
	width: 140px;
}

.bottom-panel input, .bottom-panel .select-editor{
	width:initial;
	vertical-align: middle;
}

.bottom-panel .select-editor-list {
	bottom:26px;
}

.objects-timeline-labels button {
	padding:0 4px;
	border-radius:0;
	margin:1px;
}

.timeline-labels-panel {
	height: 26px;
	background: #f7f5b5;
}

.timeline-label{
	position:absolute;
	background: #ff8050;
	border-top-right-radius: 20px;
	color: #fff;
	margin-top:10px;
	padding: 0 5px;
	border-left: 1px solid #f00;
}

.tip-icon{
	font-family:sans-serif;
	font-size: 60%;
	font-weight:bold;
	display:inline-block;
	position: absolute;
	width: 12px;
	height: 13px;
	margin-right: -16px;
	border-radius:50%;
	margin: 0 4px;
	background:#b97852;
	color: #ffe564;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.tip-icon:hover{
	transform:scale(1.3);
}

.tip-container{
	border:1px solid #ffe564;
	background:#fffadf;
	color:#615000;
	padding:10px;
	display: block;
	position: relative;
	z-index: 4;
	text-align: left;
	cursor:initial;
}

.tip-discard-btn {
	position: absolute;
	right:0;
	top:0;
}

.tip-header {
	font-size:120%;
	font-weight:bold;
	margin-bottom:6px;
}

.tip-paragraph {
	margin: 10px;
	line-height: 1.6;
}

.props-wrapper .tool-btn, .class-list-item .tool-btn {
	margin:0;
	padding: 3px;
	border:1px solid #a4a4a4;
	background:#ffffff;
}

.inactive-scene-item {
    margin:4px 10px;
    padding:5px;
    background:#ddd;
    color:#888;
    border-radius:10px;
}

.langs-editor {
	top:0;
	bottom:0;
	position:absolute;
	
}

.langs-editor-table {
	box-sizing: content-box;
	text-align: left;
	padding-bottom: 3px;
	max-height: calc(100% - 148px);
	overflow: auto;
}

.langs-editor-th, .langs-editor-td {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    vertical-align: top;
}

.langs-editor-th {
    box-sizing: border-box;
    padding: 15px;
    color: #bbb;
    background: #fff;
    font-weight: bold;
}

.langs-editor-td {
    color: #ccc;
}

.langs-editor-header .langs-editor-th {
    height: 30px;
    background: #789;
    color: #fff;
    padding: 5px;
    text-align: left;
}

.langs-editor-footer .langs-editor-th {
    height: 30px;
    background: #a95;
    color: #fff;
    padding: 5px;
    text-align: left;
}

.langs-editor-tr {
    white-space: nowrap;
    box-sizing: border-box;
}

.langs-editor .props-group {
    margin: 0;
    border: 1px solid #567;
}


.langs-editor textarea {
	height: 100%;
	padding:5px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	resize:none;
}

.class-list-item {
	display: flex;
}

.class-list-item-sub {
    flex: auto;
}

.language-switcher {
    white-space: nowrap;
}

.language-switcher .tool-btn {
    color: #7b7e88;
    padding: 0 2px;
    background: #d8dade;
}

#window-texteditor {
	z-index: 10 !important;
}

.selectable-scene-node {
    display: inline-block;
    padding: 2px 8px;
    float: right;
    border-radius: 5px;
    border: #ccc;
}

#window-info .window-content {
    background: #fff;
    overflow-y: auto;
}

.info-warns-list {
    color:#c70;
}

.info-errors-list {
    color:#c00;
}

.info-list {
    padding: 5px 20px;
}

.info-item {
    padding: 3px;
}

.info-badge {
    float: right;
    background: #bd0000;
    color: #fff;
    padding: 0 5px;
    margin-top: -1px;
    margin-bottom: -100%;
    border: 1px solid #fdd;
    border-radius: 9px;
}













    /*===================== animations ==================================================*/

.fadein-animation{
  animation: fadein linear .2s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}

@keyframes fadein{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.modal-spinner {
	margin:auto;
	margin-top: 120px;
	border: 4px solid rgba(0,0,0,0);
	border-top: 4px solid #bfbfbf;
	border-left: 4px solid #bfbfbf;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background:rgba(0,0,0,0.3);
	animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fireAnimation{
  0% {
    opacity:1;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.shake{
    animation: shake-animation linear 0.3s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
}

@keyframes shake-animation{
    0% {
        transform:  translate(0px,0px)  ;
    }
    25% {
        transform:  translate(5px,0px)  ;
    }
    77% {
        transform:  translate(-5px,0px)  ;
    }
    100% {
        transform:  translate(0px,0px)  ;
    }
}

