#timeline {
	border: 1px solid #682e24;
}

.timeline {
	padding-top: 30px;
	position: absolute;
	cursor: pointer;
	bottom: 40px;
	top: 0;
	right: 0;
	left: 0;
	padding-left: 110px;
	overflow-x: auto;
	background: #292929;
}

.timeline-labels-background {
	top: 0;
	height: 100%;
	background: #353535;
	z-index: 1;
}

.timeline-fixed-block {
	cursor: default;
	left: 0;
	top: 0;
	width: 110px;
	position: absolute;
}


.objects-timeline {
	position: relative;
	margin-top: 40px;
}

.objects-timeline-labels {
	text-align: right;
	padding-right: 6px;
	font-weight: bold;
	box-sizing: border-box;
	margin-left: -110px;
	z-index: 2;
}

.preview-frame-marker {
	color: #8c8f9a;
	top: 25px;
	position: absolute;
	font-size: 70%;
	border-left: 1px solid #1dd11d;
	height: 20px;
}

.field-timeline {
	width: max-content;
	background: url(/thing-editor/img/timeline.jpg);
	background-repeat: repeat-x;
	position: relative;
}

.timeline-play-indicator {
	pointer-events: none;
	position: absolute;
	height: 30px;
	border-left: 1px solid #f00;
}

.timeline-fire-indicator {
	pointer-events: none;
	animation: fireAnimation linear 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	position: absolute;
	height: 24px;
	width: 8px;
	border: 1px solid #f00;
}

.timeline-speed-set-marker {
	position: absolute;
	bottom: -6px;
}

.timeline-keyframe {
	cursor: w-resize;
	position: absolute;
}

.timeline-keyframe img {
	pointer-events: none;
}

.timeline-keyframe-unreachable {
	opacity: 0.5;
	outline: 1px solid #f00;
}

.timeline-keyframe-selected {
	outline: 2px solid #eb8000;
}

.keyframe-callback-editor .props-editor-callback:focus {
	min-width: 800px;
	max-width: 800px;
}

.timeline-loop-point {
	cursor: w-resize;
	position: absolute;
	bottom: 0;
	height: 14px;
}

.timeline-loop-point-selected,
.timeline-loop-point:hover {
	outline: 2px solid #8d8d8d;
}

.timeline-loop-point-owner-selected {
	outline: 2px solid #8d8d8d;
}

.timeline-label-selected {
	outline: 2px solid #8d8d8d;
}

.timeline-keyframe-linear {
	background: #8db2ff;
	border-left: 1px solid #456aa1;
}

.timeline-keyframe-discrete {
	background: #c1c1c1;
	border-left: 1px solid #505050;
}

.timeline-keyframe-smooth {
	border-top-right-radius: 70%;
	border-bottom-right-radius: 70%;
	background: #0eca75;
	border-left: 1px solid #2b3a00;
}

.timeline-keyframe-jump-floor {
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;
	background: #e2c200;
	border-left: 1px solid #ad7000;
}

.timeline-keyframe-jump-roof {
	border-top-left-radius: 70%;
	border-top-right-radius: 70%;
	background: #e2c200;
	border-left: 1px solid #ad7000;
}

.timeline-select-frame {
	pointer-events: none;
	position: absolute;
	border: 1px dashed #080;
}

.loop-arrow {
	pointer-events: none;
	position: absolute;
	right: 100%;
	bottom: -13px;
	fill: none;
	stroke: rgb(0, 136, 0);
	stroke-width: 1.5;
}

.timeline-keyframe:nth-child(3n) .loop-arrow {
	stroke: rgb(0, 103, 106);
}

.timeline-keyframe:nth-child(3n+1) .loop-arrow {
	stroke: rgb(106, 104, 0);
}

.keyframe-random-meter {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: -3px;
	fill: none;
	stroke: rgb(41, 119, 184);
	stroke-width: 1.5;
}

.keyframe-random-meter-neg {
	left: unset;
	right: 100%;
}

.timeline-keyframe-selected .keyframe-random-meter {
	stroke: rgb(194, 75, 28);
	z-index: 1;
}


.loop-arrow-front {
	transform: scaleX(-1);
	transform-origin: right;
}

.timeline-chart {
	position: absolute;
	fill: none;
	stroke: #9c9c9c;
	stroke-width: 1.5;
	pointer-events: none;
}

.timeline-settings {
	margin-left: 0;
}

.time-marker-body {
	top: 0;
	position: absolute;
	width: 100%;
	height: 21px;
	z-index: 1;
	background: #3b3b3b;
}

.time-marker {
	cursor: w-resize;
	width: 8px;
	height: 23px;
	position: absolute;
	top: 0;
	background: #d33;
}

.time-marker-v-line {
	position: absolute;
	pointer-events: none;
	height: 1000px;
	margin-bottom: -1000px;
	border-left: 1px solid #d33;
}

.time-marker-label {
	width: 230px;
	margin: 2px 12px;
	color: #b5b5b5;
	pointer-events: none;
}

.bottom-panel {
	overflow-x: hidden;
	display: flex;
	align-items: center;
	white-space: nowrap;
	padding: 0 8px;
	position: absolute;
	width: calc(100% - 14px);
	bottom: 8px;
	box-sizing: border-box;
}

.bottom-panel .number-input input {
	max-width: 50px;
	min-width: 50px;
}

.bottom-panel input[type=checkbox] {
	min-width: 20px;
}

.bottom-panel button {
	background-color: #181818;
	padding: 0 3px;
	border: none;
}

.bottom-panel .select-editor {
	min-width: 92px;
	max-width: 92px;
}

.bottom-panel .breakpoint-btn {
	pointer-events: all;
}

.select-item,
.select-editor-current {
	padding: 3px 10px;
	line-height: 19px;
}

.timeline-buttons-group {
	display: inline-block;
	background: #282828;
	padding-left: 0;
	border-radius: 14px;
	margin: 1px;
}

.timeline-buttons-group .props-label {
	margin: 0 4px;
}

.objects-timeline-labels button {
	padding: 0 4px;
	border-radius: 2px;
	margin: 1px;
	background: transparent;
	vertical-align: top;
}

.timeline-labels-panel {
	height: 26px;
	position: absolute;
	top: -37px;
	width: 100%;
	background: #414141;
}

.timeline-label {
	position: absolute;
	background: #814833;
	border-top-right-radius: 20px;
	color: #dba08a;
	margin-top: 7px;
	padding: 0 5px;
	padding-right: 15px;
	cursor: w-resize;
}

.timeline-label:hover {
	z-index: 1;
	text-decoration: underline;
}

.timeline-label-pointer {
	height: 26px;
	bottom: 0;
	left: -1px;
	width: 2px;
	position: absolute;
	background: #814833;
}

.tip-icon {
	font-family: sans-serif;
	font-weight: bold;
	display: inline-block;
	border-radius: 50%;
	background: #b97852;
	color: #ffe564;
	text-align: center;
	cursor: pointer;
	padding: 0 4px;
}

.tip-icon:hover {
	transform: scale(1.3);
}

.tip-discard-btn {
	border-radius: 20px;
	position: absolute;
	padding: 2px 20px;
	right: 19px;
	background: #440000;
	top: 0px;
}

.tip-container {
	background: #3e3e3e;
	color: #eae3be;
	padding: 10px;
	display: block;
	z-index: 4;
	text-align: left;
	cursor: initial;
}

.tip-discard-btn {
	position: absolute;
	right: 0;
	top: 0;
}

.tip-paragraph {
	margin: 10px;
	line-height: 1.6;
}