:root {
    --window-bg-color: #cccfda;
	--bg-color: #8c8f9a;
	--window-header-color:#567;
}

.hidden{
	display:none;
}

body,html{
	font-family: sans-serif;
	width:100%;
	height:100%;
	color:#595550;
	line-height:normal;
	background: var(--bg-color);
	user-select: none;
}

hr{
	border:0;
	border-bottom:1px solid #aaa;
}

h1{
	font-size:220%;
	font-weight:bold;
}
h2{
	font-size:180%;
	font-weight:bold;
}
h3{
	font-size:150%;
	font-weight:bold;
}
h4{
	font-size:120%;
	font-weight:bold;
}

h5{
	font-weight:bold;
}

b{
	font-weight:bold;
}

input {
	user-select:all;
}

img {
	vertical-align: middle;
}

.checkbox{
	cursor:pointer;
}

.unclickable{
	vertical-align:middle;
	pointer-events:none;
}

button {
	background:#e6e7e9;
	border:0;
	border-radius:6px;
	margin:5px;
	padding: 4px 12px;
	outline: none;
}

.disabled {
	opacity:0.5;
	pointer-events:none;
}

.clickable {
	cursor:pointer;
}

.clickable:hover{
	background:#eee;
}

.clickable:active{
	box-shadow: inset 0 0 2px 2px rgb(85, 102, 119);
}

.clickable-neg:hover{
	color:#aab4bd !important;
	background:#435362 !important;
}

.window-body {
	position:fixed;
	box-sizing: content-box;
	background: var(--window-bg-color);
	border: 1px solid var(--window-header-color);
	border-radius:3px;
}

.window-header {
	width:100%;
	height:17px;
	background:var(--window-header-color);
	color:#9ab;
	cursor:move;
	font-size: 70%;
	padding: 2px;
	box-sizing: border-box;
	position:relative;
}

.window-content {
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:17px;
	padding: 2px;
}

.main-btn {
	font-size:120%;
	padding:10px 40px;
	background:#080;
	color:#fff;
	margin: 20px;
}

.main-btn:hover {
	background:#0cb70c;
}

.window-rb-corner {
	position:absolute;
	right:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lt-corner {
	position:absolute;
	left:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lb-corner {
	position:absolute;
	left:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}
.window-rt-corner {
	position:absolute;
	right:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #cccfda; 
}
::-webkit-scrollbar-thumb {
    background: #acb5be; 
}
::-webkit-scrollbar-thumb:hover {
    background: #9ea9b4; 
}

.window-r-dragger{
	position:absolute;
	right:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-l-dragger{
	position:absolute;
	left:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-b-dragger{
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-t-dragger{
	position:absolute;
	top:-4px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-dragger {
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	cursor: move;
}

.editor-viewport {
	display: flex;
	align-items:center;
	justify-content:center;
	background: #b9bdc8;
	width:100%;
	height: calc(100% - 60px);
}

.editor-viewport-panel{
	text-align: left;
}

.editor-viewport-wrapper{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

.editor-viewport canvas {
	max-height: 100%;
	max-width: 100%;
	/* max-height:100%; */
}

.play-stop-btn{
	padding: 0;
	width:50px;
	height:50px;
}

.scene-tree-view {
	width:100%;
	height:100%;
	background:#fff;
	overflow-y:auto;
	font-size: 80%;
}

.list-item {
	border-top:1px solid #eee;
	padding:2px;
	cursor:pointer;
}

.list-item:hover{
	background:#e8e8e8;
}

.list-item img {
	margin-right: 4px;
}

.item-selected {
	cursor:default;
	background: #95ccff;
}

.item-selected:hover {
	background: #95ccff;
}

.tree-caret {
	line-height: 0.50;
	float: right;
	font-size: 290%;
	color: #6c6b6a;
	pointer-events:none;
}

.tree-childs {
	padding-left: 10px;
}

.scene-node-name {
	font-weight:bold;
}

.scene-node-class {
	color:#aaa;
}

.props-editor {
    overflow-y: auto;
    height: 100%;
}

.props-group{
	margin: 3px;
	border-radius:6px;
	overflow:hidden;
}

.props-group-header {
	padding:3px;
	background-color:var(--window-header-color);
	color:#a3adb7;
	font-size:70%;
}

.props-group-body {
	font-family: monospace;
	background:#fff;
}

.props-field {
	border-bottom: 1px solid #c6c6c6;
}

.props-label {
	display:inline-block;
	box-sizing:border-box;
	padding-right: 20px;
	text-align:right;
	width: 50%;
	color: #3a8cff;
	font-size: 120%;
}

.props-wrapper {
	display:inline-block;
	width: 50%;
	box-sizing:border-box;
	border-left: 1px solid #cfcfcf;
}

input{
	font-family: monospace;
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	border:none;
}

.select-editor-current {
	padding-left: 10px;
}

.select-editor-list{
	position: absolute;
	background:#fff;
	padding:10px;
}

.modal-blackout {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1000;
	background: rgba(0,16,62,0.5);
}

.modal-title {
	background:#345;
	padding: 10px 20px;
	color:#89a;
	font-weight:bold;
}

.modal-title img {
	max-height:20px;
	margin-right: 10px;
}

.modal-body {
	margin:auto;
	margin-top:100px;
	cursor:initial;
	max-width: 600px;
	user-select:text;
}

.modal-content {
	padding:20px;
	background:#fff;
	text-align:center;
}

.project-item-select {
	padding: 10px;
	margin: 5px;
	border: 1px solid #bfc6cc;
	border-radius:10px;
	color: #476582;
	font-size: 150%;
}

.project-item-select img {
	max-height: 30px;
	margin: 0 20px;
}

.list-view {
	bottom: 3px;
	top: 35px;
	left: 3px;
	right: 3px;
	position: absolute;
	overflow-y: auto;
	background:#fff;
}

.error {
	color: #be0000;
	user-select: text;
}

.error-body {
	color: #444;
	font-family:monospace;
	padding: 10px;
	border:1px solid #444;
	margin: 15px;
}

#window-scenesList .list-item {
	padding:10px;
	border:0;
	margin-bottom:1px;
}

#window-scenesList .item-selected {
	border-left: 7px solid #080;
	cursor: default;
}

#window-scenesList img {
	margin-right: 15px;
}

#window-prefabsList .list-item {
	padding:7px;
}

.modal-content input {
	font-size:130%;
	width: 50%;
	padding:5px;
	border:1px solid #888;
	margin-bottom: 20px;
}

.modal-reject-text {
	color:#a00;
	min-height: 20px;
	margin: 14px;
}

.list-view .props-group-header {
	font-size: 90%;
	padding-left:20px;
	color:#fff;
}

.list-view .props-group{
	border:1px solid #567;
}

.selectable-text {
	user-select:text;
	cursor:text;
}

.vertical-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left-panel {
    width: 40px;
}








/*===================== animations ==================================================*/

.fadein-animation{
  animation: fadein linear .2s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}

@keyframes fadein{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.modal-spinner {
	margin:auto;
	margin-top: 120px;
	border: 4px solid rgba(0,0,0,0); /* Light grey */
	border-top: 4px solid #bfbfbf; /* Blue */
	border-left: 4px solid #bfbfbf; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background:rgba(0,0,0,0.3);
	animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inactive-scene-item {
	margin:4px 10px;
	padding:5px;
	background:#ddd;
	color:#888;
	border-radius:10px;
}