:root {
    --window-bg-color: #cccfda;
	--bg-color: #8c8f9a;
	--window-header-color:#567;
}

body,html{
	font-family: sans-serif;
	width:100%;
	height:100%;
	color:#595550;
	line-height:normal;
	background: var(--bg-color);
}

hr{
	border:0;
	border-bottom:1px solid #aaa;
}

h1{
	font-size:220%;
	font-weight:bold;
}
h2{
	font-size:180%;
	font-weight:bold;
}
h3{
	font-size:150%;
	font-weight:bold;
}
h4{
	font-size:120%;
	font-weight:bold;
}

h5{
	font-weight:bold;
}

.unclickable{
	vertical-align:middle;
	pointer-events:none;
}

button {
	background:#e6e7e9;
	border:0;
	border-radius:6px;
	margin:5px;
	outline: none;
}

.clickable {
	cursor:pointer;
	vertical-align:middle;
}

.clickable:hover{
	color:#123 !important;
	background:#eeeef3 !important;
}

.clickable:active{
	-ms-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	-webkit-box-shadow: inset 0px 4px 12px 0px rgba(44,0,0,0.75);
	-moz-box-shadow: inset 0px 4px 12px 0px rgba(44,0,0,0.75);
	box-shadow: inset 0px 4px 12px 0px rgba(44,0,0,0.75);
}

.window-body {
	position:fixed;
	box-sizing: content-box;
	background: var(--window-bg-color);
	border: 1px solid var(--window-header-color);
	border-radius:3px;
}

.window-header {
	width:100%;
	height:17px;
	background:var(--window-header-color);
	color:#9ab;
	cursor:move;
	user-select: none; 
	font-size: 70%;
	padding: 2px;
	box-sizing: border-box;
	position:relative;
}

.window-content {
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:17px;
	padding: 2px;
}

.window-rb-corner {
	position:absolute;
	right:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lt-corner {
	position:absolute;
	left:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: se-resize;
}

.window-lb-corner {
	position:absolute;
	left:-2px;
	bottom:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}
.window-rt-corner {
	position:absolute;
	right:-2px;
	top:-2px;
	width:8px;
	height:8px;
	cursor: ne-resize;
}

.window-r-dragger{
	position:absolute;
	right:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-l-dragger{
	position:absolute;
	left:-2px;
	top:0;
	width:8px;
	height:100%;
	cursor: e-resize;
}

.window-b-dragger{
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-t-dragger{
	position:absolute;
	top:-4px;
	left:0;
	width:100%;
	height:8px;
	cursor: n-resize;
}

.window-dragger {
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	cursor: move;
}

.editor-viewport {
	display: flex;
	align-items:center;
	justify-content:center;
	background:#a8aec3;
	flex-grow:1;
	width:100%;
	height:100%;
}

.editor-viewport-panel{
	text-align:center;
	flex-basis:100px;
}

.editor-viewport-wrapper{
	display:flex;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

.editor-viewport canvas {
	max-height: 99%;
	max-width: 99%;
	/* max-height:100%; */
}

.play-stop-btn{
	width:50px;
	height:50px;
	font-size:200%;
}

.scene-tree-view {
	width:100%;
	height:100%;
	background:#fff;
	overflow-y:auto;
	font-size: 80%;
	user-select: none;
}

.scene-tree-item {
	border-top:1px solid #eee;
	padding:2px;
	cursor:pointer;
}

.scene-tree-item-selected{
	background:#c4e3ff;
}

.tree-caret {
	font-size: 290%;
	position:relative;
	top:10px;
	margin-top: -92px;
	margin-bottom: -30px;
	display:inline-block;
	margin-right: 3px;
}

.tree-childs {
	padding-left:10px;
}

.scene-node-name {
	font-weight:bold;
}

.scene-node-class {
	color:#aaa;
}

.props-editor {

}

.props-wrapper {
	display:inline-block;
	background:#fff;
	width:50%;
}

.props-field {
	/* margin-bottom:1px; */
}

.props-label {
	display:inline-block;
	box-sizing:border-box;
	padding-right: 10px;
	text-align:right;
	width:50%;
}

.props-splitter {
	height:4px;
}